@using DOMOverflow
@{
    Layout = "~/_Layout.cshtml";

    /*if (!IsPost)
    {
        if ((Request.QueryString["id"].IsEmpty() || !Request.QueryString["id"].Is<Guid>()) && DBManager.GetQuestion(Request.QueryString["id"].As<Guid>()) == null)
        {
            Response.Redirect("~/404");
        }
    }*/

    Question question = DBManager.GetQuestion(Request.QueryString["id"].As<Guid>());

    Page.Title = question?.Title ?? "";
}
<body>
    <div class="container">
        <h1 id="questionTitle">
            @if (question != null)
            {
                @question.Title
            }
            else
            {
                @Html.Raw("Example Question Title")
            }
        </h1>
        <p id="questionPostDate" class="float-md-right">
            @if (question != null)
            {
                @question.PostDate
            }
            else
            {
                @Html.Raw("Example Date")
            }
        </p>
        <p id="questionDetails">
            @if (question != null)
            {
                @question.Content
            }
            else
            {
                @Html.Raw("Example content.\nHow do you like it?\nIt's even multi lined!")
            }
        </p>
    </div>
</body>