@using DOMOverflow
@{
    string page = Request.RawUrl.Substring(1).Split('.')[0];

    User user = DBManager.GetLoggedInUser(Session);
}

<!doctype html>
<html lang="nl">
<head>
     <title>@Page.Title - DOMOverflow</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- FontAwesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

     <!-- JQuery -->
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

     <!-- CSS -->
     <link rel="stylesheet" href="css/global.css" />
     <link rel="stylesheet" href="css/@(page.Split('?')[0]).css" />

     <!-- Bootstrap -->
     <!-- This must be the very last import, or the navbar will break. I do not know why. -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

     <script>
          $(document).ready(function () {
               // Change navbar toggle button size on expand.
               $(".navbar-toggler").click(function () {
                    if ($(this).hasClass("navbar-toggler-expand")) {
                         $(this).removeClass("navbar-toggler-expand");
                    } else {
                         $(this).addClass("navbar-toggler-expand");
                    }
               });
          });
     </script>


     @RenderSection("head", required: false)
</head>
     <body>
          <nav class="navbar navbar-expand-xl navbar-dark bg-dark navbar-remove-margins">
               <div class="navbar-header">
                    <div class="navbar navbar-brand"><a href="~/index.cshtml"><img src="~/resources/logo_navbar.png" height="48" /></a></div>
               </div>

               <div class="collapse navbar-collapse navbar-remove-margins">
                    <ul class="navbar navbar-nav navbar-remove-margins">
                         @if (user != null && user.group.CanAskQuestion()) {
                              <li class="nav-item"><a class="nav-link" href="~/CreateQuestion.cshtml">Stel een vraag</a></li>
                         }
                    </ul>

                    <br class="show-on-nv-expand" />

                    <div class="nav navbar-nav ml-auto navbar-center-on-collapse">
                         <form class="form-inline navbar-search-margin" method="get" action="~/Search.cshtml">
                              <input id="navbar-search-bar" name="query" class="form-control" type="search" placeholder="Zoeken..." />
                              &nbsp;
                              <button class="btn btn-primary" id="navbar-search-btn" type="submit">
                                   <i class="fas fa-search"></i> &nbsp;
                                   Zoek
                              </button>
                         </form>

                         @if (user != null) {
                              <div class="navbar-user-buttons">
                                   <h5 class="navbar-text navbar-username-margins">@user.username &nbsp;</h5>

                                   <a href="~/Logout.cshtml?src=@(string.IsNullOrEmpty(Request.QueryString["src"]) ? page.Split('?')[0] : Request.QueryString["src"])">
                                        <button class="btn btn-primary standard-button-size">
                                             <i class="fas fa-sign-out-alt"></i> &nbsp;
                                             Log uit
                                        </button>
                                   </a>
                              </div>
                         } else {
                              <div class="navbar-user-buttons">
                                   <a href="~/Login.cshtml?src=@(string.IsNullOrEmpty(Request.QueryString["src"]) ? page.Split('?')[0] : Request.QueryString["src"])">
                                        <button class="btn btn-primary standard-button-size">
                                             <i class="fas fa-user"></i> &nbsp;
                                             Log in
                                        </button>
                                   </a>

                                   <a href="~/Register.cshtml?src=@(string.IsNullOrEmpty(Request.QueryString["src"]) ? page.Split('?')[0] : Request.QueryString["src"])">
                                        <button class="btn btn-primary standard-button-size">
                                             <i class="fas fa-user-plus"></i> &nbsp;
                                             Registreer
                                        </button>
                                   </a>
                              </div>
                         }
                    </div>
               </div>

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
               </button>
          </nav>


          <div id="main">
               @RenderBody()
          </div>

          <div id="footer">
               @RenderSection("Scripts", false)
          </div>
     </body>
</html>